.modal__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: hwb(0 0% 100% / 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal {
    width: 35rem;
    height: 41rem;
    border-radius: 0.5rem;
    background-color: var(--menu-background-color);
    box-shadow: 5px 5px 10px var(--shadow-color-darker);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.title__header {
    width: 90%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top__button__container {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.title {
    width: 90%;
    font-size: 1.25rem;
    text-align: left;
}


.container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description__text {
    width: 80%;
    font-size: 0.9rem;
}

.steps {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.steps__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.step__radio {

}

.prev__button_container {
    width: 3rem;
    height: 1.5rem;
}

.modal button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 0;
    box-shadow: 1px 1px 5px var(--shadow-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__icon {
    width: 0.9rem;
    height: 0.9rem;
}


.button__close {
    color: var(--menu-background-color);
    background-color: var(--exit-color);
}

.next__button_container {
    width: 3rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.modal .button__finish  {
    color: var(--menu-background-color);
    border-radius: 3px;
    width: 3rem;
    background-color: var(--ok-color);
    box-shadow: 1px 1px 5px var(--shadow-color);
}

.modal .button__prev {
    padding-right: 0.5rem;
}

.modal .button__next {
    padding-left: 0.5rem;
}