


.sidebar {
    position: fixed;
    width: 160px;
    left: 10px;
    top: 25%;
    --menu-background-color: #fafafa;
    --menu-outline-color: #e0e0e0;
    --button-background-color: #f9f9f9;
    --button-border-color: #999999;
    --button-hover-color: #e3e3e3e3;
    --shadow-color: #383838;
}


.model__bar {
    padding: 8px;
    background-color: var(--menu-background-color);
    border-radius: 8px;
    outline: 1px solid var(--menu-outline-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px var(--shadow-color);
}

.model__scale__menu {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.model__scale__label {
    margin: 0px;
}

.model__scale__input {
    width: 70px;
    height: 20px;
}

.animation__bar {
    padding: 8px;
    margin-top: 16px;
    background-color: var(--menu-background-color);
    outline: 1px solid var(--menu-outline-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px var(--shadow-color);
}

.animation__load__button {
    width: 90%;
}

.animation__radios {
    width: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
}

.animation__play__radio {
    width: 90%;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.animation__play__button img {
    width: 15px;
    height: 15px;
}

.animation__player__bar {
    margin-top: 16px;
    padding: 8px;
    background-color: var(--menu-background-color);
    outline: 1px solid var(--menu-outline-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px var(--shadow-color);
}

.animation__toggle__button {    
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animation__toggle__button img {
    width: 20px;
    height: 20px;
}

.animation__frames {
    height: 32px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.animation__frames__slider {
    width: 90%;
    margin: 0;
}

.animation__frames__data {
    width: 70%;
}

.export__bar {
    background-color: var(--menu-background-color);
    outline: 1px solid var(--menu-outline-color);
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px;
    height: 32px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px var(--shadow-color);
}

.export__button {
    width: 90%;
    height: 26px;
    text-align: center;
    background: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    border-radius: 3px;
    cursor: pointer;
}

.export__button:hover {
    background: var(--button-hover-color);
}

.export__button:active {
    background: var(--button-border-color);
}

.menu__title {
    font-size: 12px;
    line-height: 18px;
    margin-top: 4px;
    margin-bottom: 8px;
}